  <h3>
    <input class='title' placeholder='Project Title'>
  </h3>
  <form>
    <div class='section'>
      <div class='heading'>Units</div>
      <div>
        <div class='field'>
          {{#radio-button name="units" value="metric" groupValue=project.units class="metric"}}
            Metric
          {{/radio-button}}
        </div>
        <div class='field'>
          {{#radio-button name="units" value="imperial" groupValue=project.units class="imperial"}}
            Imperial
          {{/radio-button}}
        </div>
      </div>
    </div>
    <div class='section'>
      <div class='heading'>Occupancy group</div>
      <div>
        <div class='field'>
          {{#radio-button name="group" value="1" groupValue=project.occupancyGroup class="group1"}}
            A, B, C, D, F3
          {{/radio-button}}
        </div>
        <div class='field'>
          {{#radio-button name="group" value="2" groupValue=project.occupancyGroup class="group2"}}
            E, F1, F2
          {{/radio-button}}
        </div>
      </div>
    </div>
   <div class='section'>
      <div class='heading'>Fire protection</div>
      <div>
        <div class='field'>
          {{#radio-button name="sprinklers" value="unsprinklered" groupValue=project.fireProtection class="unsprinklered"}}
            Unsprinklered
          {{/radio-button}}
        </div>
        <div class='field'>
          {{#radio-button name="sprinklers" value="sprinklered" groupValue=project.fireProtection class="sprinklered"}}
            Sprinklered
          {{/radio-button}}
        </div>
      </div>
    </div>
 </form>
