!!!
%html
  %head
    %title NBC 3.2.3.1: Limiting Distance

    %script{:src => "resources/prototype.js", :type => "text/javascript"}
    %script{:src => "resources/application.js", :type => "text/javascript"}
    %script{:src => "resources/data.js", :type => "text/javascript"}
    %link{:href => "resources/application.css", :rel => "stylesheet", :type => "text/css"}/

    %meta(name="description" content="National Building Code of Canada limiting distance calculator")
    %meta(name="keywords" content="Limiting distance, NBCC, NBCC 3.2.3.1, Unprotected opening area, Exposed building face")
    %meta(name="author" content="Buck Doyle")
  %body
    #content
      %a(href="http://arccadd.com")
        %img{:src => "resources/logo.png"}
      %h1
        NBC 3.2.3.1
      %h2
        Limiting Distance
      %h3.title(contenteditable) Project Title
      %h3.face(contenteditable) Building Face
      %form
        .section
          .heading Units
          %div
            .field
              %input#imperial{:checked => "", :name => "units", :type => "radio", :value => "imperial"}/
              %label{:for => "imperial"} Imperial
            .field
              %input#metric{:name => "units", :type => "radio", :value => "metric"}/
              %label{:for => "metric"} Metric
        .section
          .heading Occupancy group
          %div
            .field
              %input#group1{:checked => "", :name => "group", :type => "radio", :value => "1"}/
              %label{:for => "group1"} A, B, C, D, F3
            .field
              %input#group2{:name => "group", :type => "radio", :value => "2"}/
              %label{:for => "group2"} E, F1, F2
        .section
          .heading Fire protection
          %div
            .field
              %input#unsprinklered{:checked => "", :name => "sprinklers", :type => "radio", :value => "unsprinklered"}
              %label{:for => "unsprinklered"} Unsprinklered
            .field
              %input#sprinklered{:name => "sprinklers", :type => "radio", :value => "sprinklered"}
              %label{:for => "sprinklered"} Sprinklered
        .section
          .heading Dimensions
          %div
            .field
              #calculated-area(style='display: none')
                %input(type="text" size=6)
                %label.units.squared
              %input#height{:name => "height", :type => "text", :size => 5}/
              .units>
              %label{:for => "height"} Height
            .field
              %input#width{:name => "width", :type => "text", :size => 5}/
              .units>
              %label{:for => "width"} Width
            .field
              %input#distance{:name => "distance", :type => "text", :size => 5}/
              .units>
              %label{:for => "distance"} Limiting distance
        .section
          .heading Unprotected opening area
          %div
            %input#area{:name => "area", :type => "text", :size => 4}/
            %span><
              \%
            .units.squared
        .section
          .heading Exposed building face
          %div
            #rating &nbsp;
      %footer
        ="Developed by <a href='http://github.com/backspace'>Buck Doyle</a> for <a href='http://arccadd.com'>Arccadd Architecture Inc</a>."
