-field_width = 6
!!!
%html
  %head
    %title NBC 3.2.3.1: Limiting Distance

    %script{:src => "resources/javascripts/jquery-1.11.1.min.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/jquery.string.1.1.0-min.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/limiting_distance_calculator.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/face_watcher.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/form_watcher.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/application.js", :type => "text/javascript"}
    %script{:src => "resources/javascripts/data.js", :type => "text/javascript"}
    %link{:href => "resources/application.css", :rel => "stylesheet", :type => "text/css"}/

    %meta(name="description" content="National Building Code of Canada limiting distance calculator")
    %meta(name="keywords" content="Limiting distance, NBCC, NBCC 3.2.3.1, Unprotected opening area, Exposed building face")
    %meta(name="author" content="Buck Doyle")
  %body
    .common
      %a(href="http://arccadd.com")
        %img.logo{:src => "resources/logo.png"}
      %h1
        %select
          %option NBC 3.2.3.1
      %h2
        Limiting Distance
      %h3
        %input.title(placeholder="Project Title")
      %form
        .section
          .heading Units
          %div
            .field
              %label
                %input.metric{:checked => "", :name => "units", :type => "radio", :value => "metric"}/
                Metric
            .field
              %label
                %input.imperial{:name => "units", :type => "radio", :value => "imperial"}/
                Imperial
        .section
          .heading Occupancy group
          %div
            .field
              %label
                %input.group1{:checked => "", :name => "group", :type => "radio", :value => "1"}/
                A, B, C, D, F3
            .field
              %label
                %input.group2{:name => "group", :type => "radio", :value => "2"}/
                E, F1, F2
        .section
          .heading Fire protection
          %div
            .field
              %label
                %input.unsprinklered{:checked => "", :name => "sprinklers", :type => "radio", :value => "unsprinklered"}
                Unsprinklered
            .field
              %label
                %input.sprinklered{:name => "sprinklers", :type => "radio", :value => "sprinklered"}
                Sprinklered
    .faces.faces-4
      -4.times do |i|
        %div(class="face face-#{i + 1}")
          .face-label
            %h3
              %input(placeholder="Building Face #{i + 1}")
            .controls
              %span.add &#8853;
              %span.remove &#8854;
            .section
              .heading Dimensions
              %div
                .field
                  %input.height{:name => "height", :type => "text", :size => field_width}/
                  .units>
                  %label{:for => "height"} Height
                .field
                  %input.width{:name => "width", :type => "text", :size => field_width}/
                  .units>
                  %label{:for => "width"} Width
                .field.calculated-area
                  %input(type="text" size=field_width tabindex="-1")/
                  .units.squared>
                  %label Building face area
                .field
                  %input.distance{:name => "distance", :type => "text", :size => field_width}/
                  .units>
                  %label{:for => "distance"} Limiting distance
            .section
              .heading Unprotected opening area
              %div
                %input.area{:name => "area", :type => "text", :size => field_width}/
                %span><
                  \%
                .units.squared
            .section
              .heading Exposed building face
              %div
                .rating &nbsp;
    %footer
      ="Developed by <a href='http://github.com/backspace'>Buck Doyle</a> for <a href='http://arccadd.com'>Arccadd Architecture Inc</a>."
