<div class='common'>
  <a href='http://arccadd.com'>
    <img class='logo' src='/assets/images/logo.png'>
  </a>
  <h1>
    <select>
      <option>NBC 3.2.3.1</option>
    </select>
  </h1>
  <h2>
    Limiting Distance
  </h2>
  {{project-manager project=project}}
</div>
<div {{bind-attr class="faceCount :faces"}}>
  {{#each face in faces}}
    {{building-face face=face}}
  {{/each}}
</div>
<footer>
  Developed by <a href='http://github.com/backspace'>Buck Doyle</a> for <a href='http://arccadd.com'>Arccadd Architecture Inc</a>.
</footer>
