<div class='common'>
  <a href='http://arccadd.com'>
    <img class='logo' src='/assets/images/logo.png'>
  </a>
  <h1>
    <select>
      <option>NBC 3.2.3.1</option>
    </select>
  </h1>
  <h2>
    Limiting Distance
  </h2>
  {{project-manager project=project}}
</div>
<div class='faces-{{faces.length}} faces'>
  {{#each faces as |face|}}
    {{building-face face=face}}
  {{/each}}
</div>
<footer>
  <p>This calculator contains <a href='https://github.com/backspace/limitingdistance/issues'>known bugs</a> and is provided “as is” without any representations or warranties, express or implied. Arccadd Architecture Inc. makes no representations or warranties for the accuracy of this tool. Use at your own risk.</p>
  <p>Developed by <a href='http://github.com/backspace'>Buck Doyle</a> for <a href='http://arccadd.com'>Arccadd Architecture Inc</a>.</p>
</footer>
